datasets/DukeMTMC-reID*
datasets/synergyreid_data*
datasets/Market*
datasets/MSMT17*
weights/*.pth
logs/
*backup/

command.md
nohup.out
run.sh
# log file
*.events.*


# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs
.DS_Store
